<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="20"></div>
    <div fxFlex="80" fxLayoutAlign="center" fxLayoutGap="3rem">
        <div>
            <h3>Main functionality in progress. Will be finish 20.04.2022 19:00</h3>
            <h4>Tasks:</h4>
            <ul>
                <li>exchange functionality</li>
                <li>pipe for the header</li>
                <li>style preparation</li>
            </ul>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <form class="example-form" >
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Quantity</mat-label>
                  <input type="number" matInput placeholder="10" [formControl]="quantityFirst" (change)="onChangeFirstCurrency()">
                  <mat-icon matSuffix>money</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select [formControl]="currencyFirst" [(ngModel)]="selectedFirstCurrency">
                      <mat-option *ngFor="let currency of rates" [value]="currency.ccy">
                        {{currency.ccy}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>    
  
              </form>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <form class="example-form" >
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Quantity</mat-label>
                  <input type="number" matInput placeholder="10" [formControl]="quantitySecond" (change)="onChangeSecondCurrency()">
                  <mat-icon matSuffix>money</mat-icon>
                </mat-form-field>
    
                  <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select [formControl]="currencySecond" [(ngModel)]="selectedSecondCurrency">
                      <mat-option *ngFor="let currency of rates" [value]="currency.ccy">
                        {{currency.ccy}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>
    
              </form>
        </div>        
          
    </div>
    <div fxFlex="20"></div>
</div>

