<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="20"></div>
    <div fxFlex="80" fxLayoutAlign="center" fxLayoutGap="3rem">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <form class="example-form" >
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Quantity</mat-label>
                  <input type="number" matInput placeholder="10" [formControl]="quantityFrom" (change)="onChangeFrom()">
                  <mat-icon matSuffix>money</mat-icon>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let currency of currencies" [value]="currency.ccy">
                        {{currency.ccy}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>    
  
              </form>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <form class="example-form" >
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Quantity</mat-label>
                  <input type="number" matInput placeholder="10" [formControl]="quantityTo" (change)="onChangeTo()">
                  <mat-icon matSuffix>money</mat-icon>
                </mat-form-field>
    
                  <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let currency of currencies" [value]="currency.ccy">
                        {{currency.ccy}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>
    
              </form>
        </div>        
          
    </div>
    <div fxFlex="20"></div>
</div>

